@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

body {
  font-family: "Ubuntu", sans-serif;
  border: 2px solid whitegrey;
}

#step1 {
  display: flex;
  flex-direction: row;
}

.sidebar {
  background-color: hsl(243, 100%, 62%);
  border-radius: 10px;
  font-family: Ubuntu;
  background-image: url(./assets/images/bg-sidebar-desktop.svg);
  background-size: cover;
}

.step__indicator {
  display: flex;
  flex-direction: row;
  color: hsl(0, 0%, 100%);
}

#plan-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 50%;
  list-style-type: none;
  padding: 20px 0px 10px;
}

.body,
.plan__image {
  padding: 10px;
}

.plan {
  border-radius: 10%;
  border: 1px solid rgb(196, 196, 196);
  width: 140px;
  margin-right: 20px;
}

.plan-type {
  font-weight: 700;
  font-size: 20px;
}

.plan-amount {
  color: grey;
}

.plan-free {
  font-size: 13px;
  font-weight: 700;
}

.step__number {
  border: 2px solid white;
  background-color: hsl(243, 100%, 62%);
  width: 5px;
  height: 30px;
  padding: 8px 18px 5px;
  border-radius: 50%;
  color: var(--Light-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1.4rem;
  margin: 15px;
}

.step__sidebar_and_descr {
  padding: 0px 25px 0px;
  text-transform: uppercase;
}

.step__form {
  padding: 0px 25px;
}

.steps__container {
  padding: 0px 30px 30px;
}

.steps__description {
  color: grey;
}

.steps__container__inputs {
  display: flex;
  flex-direction: column;
}

.steps__input_name {
  font-weight: 550;
}

.inputs {
  border-radius: 5px;
  height: 25px;
}

.button__div {
  padding: 30px 15px 10px;
}

.button {
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  padding: 10px 15px 10px;
  margin: 40px 0px 0px 350px;
  border-radius: 5px;
  background-color: hsl(245, 57%, 34%);
  color: hsl(0, 0%, 100%);
}
